@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  background: #121212;
  margin: 0;
  padding: 0;
}

/* * {
  outline: 1px solid red;
} */

.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0 0 50px;
}

.app__heading {
  font-size: 48px;
  font-weight: 700;
  margin: 40px 0 20px;
  color: #fff;
}

.app__description {
  margin: 0 0 80px;
  font-size: 21px;
  color: #fff;
}

.coins {
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 330px));
  grid-auto-rows: auto;
  gap: 10px;
  justify-items: center;
  align-items: center;
  justify-content: space-around;
  align-content: center;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: white;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); */
}

.card__name {
  padding: 0;
  margin: 0;
  font-weight: 200;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 54px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 3px;
}

.card__info {
  width: 100%;
  max-width: 100%;
  position: relative;
  padding: 0;
  margin: 0;
  font-size: 0;
}

.card__image {
  width: 100%;
  min-height: 350px;
  max-height: 500px;
  padding: 0;
  margin: 0;
  border-radius: 10px 10px 0 0;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card__image::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px) brightness(0.7);
  pointer-events: none;
}

.card__price-info {
  margin: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: auto;
  align-content: space-evenly;
  gap: 10px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  list-style: none;
  padding: 10px;
}

.card__market {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  padding-bottom: 10px;
}

.card__market:last-child {
  border-bottom: none;
}

.card__market-name {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 12px;
}

.card__prices {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.card__price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card__currency {
  padding: 0;
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  margin-right: 3px;
}

.card__price-value {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
}
