@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
  background: #121212;
  margin: 0;
  padding: 0;
}

/* * {
  outline: 1px solid red;
} */

.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0 0 50px;
}

.app__heading {
  font-size: 48px;
  font-weight: 700;
  margin: 40px 0 20px;
  color: #fff;
}

.app__description {
  margin: 0 0 80px;
  font-size: 21px;
  color: #fff;
}

.coins {
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px,300px));
  grid-auto-rows: 300px;
  gap: 20px;
  justify-items: center;
  align-items: center;
  justify-content: space-around;
  align-content: center;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: white;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); */
  position: relative;
}

.card__name {
  padding: 0;
  margin: 0;
  font-weight: 300;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 32px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 3px;
  transition: .3s;
}

.card__info {
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0;
  font-size: 0;
}

.card__image {
  width: 100%;
  min-height: 220px;
  max-height: 500px;
  padding: 0;
  margin: 0;
  border-radius: 10px 10px 0 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: .3s;
}

.card:hover .card__image {
  min-height: 0;
}

.card:hover .card__name {
  opacity: 0;
  visibility: hidden;
}


.card__image::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px) brightness(.5);
  pointer-events: none;
}


.card__price-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.card:hover .card__price-short {
  display: none;
}

.card__price-short {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s;
}

.card__markets {
  list-style: none;
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card:hover .card__markets {
  display: flex;
}

.card__market {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

.card__market:last-child {
  border-bottom: none;
}

.card__market-name {
  font-size: 21px;
  font-weight: 200;
  letter-spacing: 2px;
  margin: 0 0 12px;
  color: #000;
}


.card__prices {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #000;
}

.card__price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 700;
  font-size: 28px;
  margin: 0;
  padding: 0;
}

.card__price-change {
  font-size: 13px;
  font-weight: 600;
  margin: 0 0 20px;
}

.card__price-change_color_green {
  color: green;
}

.card__price-change_color_red {
  color: red;
}

.card__currency {
  padding: 0;
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  margin-right: 3px;
}

.card__price-value {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
}